<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bloque</key>
		<string>A/ Are the results of the study valid?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>1. Did the study address a clearly focused issue?</string>
				<key>literalC</key>
				<string>1. Clearly focused issue?</string>
				<key>caracter</key>
				<string>Screening Questions</string>
				<key>pista</key>
				<string>A question can be focused in terms of?
- the population studied
- the risk factors studied
- the outcomes considered
- is it clear whether the study tried to detect a beneficial or harmful effect?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>2. Did the authors use an appropriate method to answer their question?</string>
				<key>literalC</key>
				<string>2. Is a cohort study appropriate?</string>
				<key>caracter</key>
				<string>Screening Questions</string>
				<key>pista</key>
				<string>Consider
- is a cohort study a good way of answering the question under the circumstances?
- did it address the study question?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>3. Was the cohort recruited in an acceptable way?</string>
				<key>literalC</key>
				<string>3. Cohort recruitment: Right?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>We are looking for selection bias which might compromise the generalisability of the findings:
- Was the cohort representative of a defined population?
- Was there something special about the cohort?
- Was everybody included who should have been included?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>4. Was the exposure accurately measured to minimize bias?</string>
				<key>literalC</key>
				<string>4. Exposure measure: Right?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>We are looking for measurement or classification bias:
- Did they use subjective or objective measurements?
- Do the measures truly reflect what you want them to (have they been validated)?
- Were all the subjects classified into exposure groups using the same procedure?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>5. Was the outcome accurately measured to minimize bias?</string>
				<key>literalC</key>
				<string>5. Outcome measure: Right?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>We are looking for measurement or classification bias:
- Did they use subjective or objective measurements?
- Do the measures truly reflect what you want them to (have they been validated)?
- Has a reliable system been established for detecting all the cases (for measuring disease occurrence)?
- Were the measurement methods similar in the different groups?
- Were the subjects and/or the outcome assessor blinded to exposure (does this matter)?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>6. A. Have the authors identified all important confounding factors? and B: Have they taken account of the confounding factors in the design and/or analysis?</string>
				<key>literalC</key>
				<string>6. Control of Confusion Factors?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- List the ones you think might be important, that the author missed.
- Look for restriction in design, and techniques e.g. modelling, stratified-, regression-, or sensitivity analysis to correct, control or adjust for confounding factors.</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>7. Was the follow up of subjects complete and long enough?</string>
				<key>literalC</key>
				<string>7. Follow up: Right?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- The good or bad effects should have had long enough to reveal themselves
- The persons that are lost to follow-up may have different outcomes than those available for assessment
- In an open or dynamic cohort, was there anything special about the outcome of the people leaving, or the exposure of the people entering the cohort?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bloque</key>
		<string>B/ Important results?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>8. What are the results of this study?</string>
				<key>literalC</key>
				<string>8. Results: Large?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>What are the bottom line results?
- Have they reported the rate or the proportion between the exposed/unexposed, the ratio/the rate difference?
- How strong is the association between exposure and outcome (RR,)?
- What is the absolute risk reduction (ARR)?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>9. How precise are the results?</string>
				<key>literalC</key>
				<string>9. Results: Precise?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>Size of the confidence intervals</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>10. Do you believe the results?</string>
				<key>literalC</key>
				<string>10. Results: Logical?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Big effect is hard to ignore!
- Can it be due to bias, chance or confounding?
- Are the design and methods of this study sufficiently flawed to make the results unreliable?
- Consider Bradford Hills criteria (eg time sequence, dose-response gradient, biological plausibility, consistency).</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string>Imprecisa: ¿se busca una impresión global? ¿se busca si tienen plausibilidad biológica?. En Casos y Controles era una pregunta del apartado resultados. </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bloque</key>
		<string>C/ Will the results help me locally?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>11. Can the results be applied to the local population?</string>
				<key>literalC</key>
				<string>11. Applicable to your context?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>Consider whether:
- The subjects covered in the study could be sufficiently different from your population to cause concern
- Your local setting is likely to differ much from that of the study
- Can you quantify the local benefits and harms?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>12. Do the results of this study fit with other available evidence?</string>
				<key>literalC</key>
				<string>12. Coherent with other studies?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>One observational study rarely provides sufficiently robust evidence to recommend changes to clinical practice or within health policy decision making.
However, for certain questions observational studies provide the only evidence.
Recommendations from observational studies are always stronger when supported by other evidence.</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
