<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bloque</key>
		<string>A/ Are the results of the study valid?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>1. Was there a clear question for the study to address?</string>
				<key>literalC</key>
				<string>1. Question clearly defined?</string>
				<key>caracter</key>
				<string>Screening Questions</string>
				<key>pista</key>
				<string>A question should include information about?
- The population.
- The test.
- The setting.
- The outcomes.</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>2. Was there a comparison with an appropriate reference standard?</string>
				<key>literalC</key>
				<string>2. Gold standard: Right?</string>
				<key>caracter</key>
				<string>Screening Questions</string>
				<key>pista</key>
				<string>Is this reference test(s)the best available indicator in the circumstances?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>3. Did all patients get the diagnostic test and the reference standard?</string>
				<key>literalC</key>
				<string>3. All patients got both tests?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Were both received regardless of the results of the test of interest.
- Check the 2 X 2 table.
(verification bias)</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>4. Could the results of the test of interest have been influenced by the results of the reference standard?</string>
				<key>literalC</key>
				<string>4. Independent test evaluation?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Was there blinding?
- Were the tests performed independently
(Review Bias)</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>5. Is the disease status of the tested population clearly described?</string>
				<key>literalC</key>
				<string>5. Tested patients well described?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Presenting symptoms
- Disease stage or severity
- Co-morbidity
- Differential diagnoses
(Spectrum Bias).</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>6. Were the methods for performing the test described in sufficient detail?</string>
				<key>literalC</key>
				<string>6. Trial test well described?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Was a protocol followed</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bloque</key>
		<string>B/ If so, what are the results?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>7. What are the results?</string>
				<key>literalC</key>
				<string>7. Large results?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>Consider
- Are the sensitivity and specificityand/or likelihood ratios presented?
- Are the results presented in such a way that we can work them out?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string>Lo mismo de otros diseños, debe calcularlo y juzgarlo</string>
			</dict>
			<dict>
				<key>literal</key>
				<string>8. How sure are we about these results?</string>
				<key>literalC</key>
				<string>8. Precise results?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>Consider
- Could they have occurred by chance?
- Are there confidence limits
- What are they?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bloque</key>
		<string>C/ Will the results help me and my patients/population?</string>
		<key>preguntas</key>
		<array>
			<dict>
				<key>literal</key>
				<string>9. Can the results be applied to your patients/the population of interest?</string>
				<key>literalC</key>
				<string>9. Applicable to your context?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>Do you think your patients/population are so different from those in the study that the results cannot be applied? Such as age, sex, ethnicity and spectrum bias.</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>10. Can the test be applied to your patient or population of interest?</string>
				<key>literalC</key>
				<string>10. Feasible in your context?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Think of resources and opportunity costs
- Level and availability of expertise required to interpret the tests
- Current practice and availability of services</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>11. Were all outcomes important to the individual or population considered?</string>
				<key>literalC</key>
				<string>11. Important outcomes considered?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string>- Will the knowledge of the test result improve patient wellbeing?
- Will the knowledge of the test result lead to a change in patient management?</string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
			<dict>
				<key>literal</key>
				<string>12. What would be the impact of using this test on your patients/population?</string>
				<key>literalC</key>
				<string>12. Will change your practice?</string>
				<key>caracter</key>
				<string></string>
				<key>pista</key>
				<string></string>
				<key>color</key>
				<string>whiteColor</string>
				<key>comentario</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
