<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logo1</key>
	<string>caspe_logo.png</string>
	<key>logo2</key>
	<string></string>
	<key>pagina1CitameAsi</key>
	<string>Esta plantilla debería citarse como:
Cabello, J.B. por CASPe. Plantilla para ayudarte a entender un Estudio de Diagnóstico. En: CASPe. Guías CASPe de Lectura Crítica de la Literatura Médica. Alicante: CASPe; 2005. Cuaderno I. p.22-25.</string>
	<key>pagina1ComentariosGenerales</key>
	<string>Comentarios generales
- Hay tres aspectos generales a tener en cuenta cuando se hace la lectura crítica de un artículo:
      ¿Son válidos sus resultados?
      ¿Cuáles son los resultados?
      ¿Son aplicables en tu medio?
- Las 10 preguntas de las próximas páginas están diseñadas para ayudarte a pensar sistemáticamente sobre estos aspectos. Las tres primeras preguntas son “de eliminación” y se pueden responder rápidamente. Sólo si la respuesta es “sí” en todas ellas, merece la pena continuar con las preguntas restantes.
Estas 10 preguntas están inspiradas en:
- Lijmer JC. Moll BW. Heisterkamp S et al. Empirical evidence of design reaalted bias in studies of diagnostic tests. JAMA 1999;282:1061-1066.
- Richardson WS. Wilson MC. Guyatt GH. Cook DJ. Nishikawa J. Users’ guides to the medical literature: XV. How to use an article about disease probability for differential diagnosis. JAMA. 1999; 281 (13): 1214-9.</string>
	<key>pagina1Marca</key>
	<string>Este material ha sido desarrollado por CASP* España en Pastrana, Guadalajara. Enero de 2002.

* CASP (Critical Appraisal Skills Programme: Programa de habilidades en lectura crítica)￼</string>
	<key>pagina1Programa</key>
	<string>PROGRAMA DE LECTURA CRÍTICA CASPe
Entendiendo la evidencia sobre la eficacia clínica</string>
	<key>pagina1TipoArt</key>
	<string>10 preguntas para entender un artículo sobre diagnóstico</string>
	<key>recuerde</key>
	<string></string>
	<key>preguntas</key>
	<array>
		<dict>
			<key>bloque</key>
			<string>A/ ¿Son válidos los resultados?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string>Pregunta de eliminación</string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>1. ¿Existió una comparación con una prueba de referencia adecuada?</string>
					<key>literalC</key>
					<string>1. ¿Prueba de Referencia buena?</string>
					<key>pista</key>
					<string>• ¿Es correcto el patrón oro? (no siempre se puede aplicar el mismo patrón oro a todos los pacientes).</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string>Pregunta de eliminación</string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>2. ¿Incluyó la muestra un espectro adecuado de pacientes?</string>
					<key>literalC</key>
					<string>2. ¿Muestra adecuada?</string>
					<key>pista</key>
					<string>• ¿Están adecuadamente descritos los pacientes y cómo se seleccionaron?
• Casi cualquier prueba distingue entre sanos y gravemente enfermos.</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string>Pregunta de eliminación</string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>3. ¿Existe una adecuada descripción de la prueba?</string>
					<key>literalC</key>
					<string>3. ¿Prueba Exper. bien definida?</string>
					<key>pista</key>
					<string>• ¿Se define con claridad qué es un resultado positivo y qué es un resultado negativo?
• ¿Se especifica la reproducibilidad de la prueba (éste puede ser un punto clave en pruebas que dependen del observador como las técnicas de imagen)?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>4. ¿Hubo evaluación “ciega” de los resultados?</string>
					<key>literalC</key>
					<string>4. ¿Evaluación &quot;ciega&quot;?</string>
					<key>pista</key>
					<string>- ¿Las personas que interpretaron la prueba conocían los resultados del patrón oro (y viceversa)?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>5. ¿La decisión de realizar el patrón oro fue independiente del resultado de la prueba problema?</string>
					<key>literalC</key>
					<string>5. ¿Prueba Patrón Independien.?</string>
					<key>pista</key>
					<string>Considerar si:
• Se incluyeron preferentemente los resultados positivos en la prueba a evaluar .
• Se utilizaron diferentes patrones de oro en los positivos y en los negativos</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bloque</key>
			<string>B/ ¿Cómo son los resultados?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string>Lo mismo de otros diseños, debe calcularlo y juzgarlo</string>
					<key>literal</key>
					<string>6. ¿Se pueden calcular los Cocientes de Probabilidad (Likelihood ratios)?</string>
					<key>literalC</key>
					<string>6. ¿Resultado importante?</string>
					<key>pista</key>
					<string>• ¿Se han tenido en cuenta los pacientes con resultado “no concluyentes”?
• ¿Se pueden calcular los cocientes de probabilidad para distintos niveles de la prueba, si procede?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>7. ¿Cuál es la precisión de los resultados?</string>
					<key>literalC</key>
					<string>7. ¿Resultados precisos?</string>
					<key>pista</key>
					<string>- Hay que buscar o calcular los intervalos de confianza de los cocientes de probabilidad.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bloque</key>
			<string>C/ ¿Son los resultados aplicables al escenario?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>8. ¿Serán satisfactorios en el ámbito del escenario la reproducibilidad de la prueba y su interpretación?</string>
					<key>literalC</key>
					<string>8. ¿Tu contexto es similar?</string>
					<key>pista</key>
					<string>- Considera si el ámbito de la prueba es demasiado diferente al del escenario</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>9. ¿Es aceptable la prueba en este caso?</string>
					<key>literalC</key>
					<string>9. ¿Compensa riesgos/costes?</string>
					<key>pista</key>
					<string>- Considera la disponibilidad de la prueba, los riesgos /molestias de la prueba y los costes</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>10. ¿Modificarán los resultados de la prueba la decisión sobre cómo actuar?</string>
					<key>literalC</key>
					<string>10. ¿Cambiará tu Práctica?</string>
					<key>pista</key>
					<string>PISTAS:
• Desde la perspectiva del escenario, si la actitud no va a cambiar, la prueba es (al menos) inútil.
• Considera el umbral de acción y la probabilidad de enfermedad antes y después de la prueba.</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
