<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logo1</key>
	<string>casp_uk_logo.png</string>
	<key>logo2</key>
	<string>logo</string>
	<key>pagina1CitameAsi</key>
	<string>©Critical Appraisal Skills Programme (CASP) Economic Evaluations Checklist 31.05.13</string>
	<key>pagina1ComentariosGenerales</key>
	<string>How to use this appraisal tool
Three broad issues need to be considered when appraising an economic evaluation:
- Is the economic evaluation valid?      (Section A)
- How were costs and consequences assessed and compared      (Section B)
- Will the results help in purchasing services for local people?      (Section C)
The 12 questions on the following pages are designed to help you think about these issues systematically.
The first two questions are screening questions and can be answered quickly. If the answer to both is “yes”, it is worth proceeding with the remainig questions.

There is some degree of overlap between the questions, you are asked to record a “yes”, “no” or “can’t tell” to most of the questions. A number of italicised prompts are given after each question. These are designed to remind you why the question is important. Record your reasons for your answers in the spaces provided.

There will not be time in the small groups to answer them all in detail!

The 12 questions are adapted from: Drummond MF, Stoddart GL, Torrance GW. Methods for the economic evaluation of health care programmes. Oxford: Oxford University Press, 1987</string>
	<key>pagina1Marca</key>
	<string>©CASP This work is licensed under the Creative Commons Attribution - NonCommercial-ShareAlike 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-sa/3.0/. www.casp-uk.net</string>
	<key>pagina1Programa</key>
	<string></string>
	<key>pagina1TipoArt</key>
	<string>12 questions to help you make sense of economic evaluations</string>
	<key>recuerde</key>
	<string></string>
	<key>preguntas</key>
	<array>
		<dict>
			<key>bloque</key>
			<string>A/ Is the economic evaluation valid?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string>Screening question</string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>1. Was a well-defined question posed?</string>
					<key>literalC</key>
					<string>1. Aims well defined?</string>
					<key>pista</key>
					<string>Is it clear what the authors are trying to achieve?
- What is the perspective?
- How many options are compared?
- Are both costs and consequences considered?
- What is the time horizon?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string>Screening question</string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>2. Was a comprehensive description of the competing alternatives given?</string>
					<key>literalC</key>
					<string>2. Process well descripted?</string>
					<key>pista</key>
					<string>Is there a clear decision tree (or similar given):  
- Can you tell who did what, to whom, where and how often?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>3. Does the paper provide evidence that the programme would be effective (ie would the programme do more good than harm)?</string>
					<key>literalC</key>
					<string>3. Effectivity proven?</string>
					<key>pista</key>
					<string>Consider if an RCT or systematic review was used; if not, consider how strong the evidence was.
(Economic evaluations frequently have to integrate different types of knowledge stemming from different study designs).</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>4. Were the effects of the intervention identified, measured and valued appropriately</string>
					<key>literalC</key>
					<string>4. Effects measure: Right?</string>
					<key>pista</key>
					<string>Effects can be measured in natural units (e.g. years of life) or more complex units (e.g. years adjusted for quality of life such as QALYs) or monetary equivalents of the benefit gained (e.g. $).</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bloque</key>
			<string>B/ How were consequences and costs assessed and compared?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>5. Were all important and relevant resources required and health outcome costs for each alternative identified, measured in appropriate units and valued credibly?</string>
					<key>literalC</key>
					<string>5. Costs evaluation: Right?</string>
					<key>pista</key>
					<string>Identified?
- Remember the perspective being taken.
Measured accurately in appropriate units prior to evaluation?
- Appropriate units may be hours of nursing time, number of physician visits, years-of-life gained etc.
Valued credibly?
- Are the values realistic?
- How have they been derived?
- Have opportunity costs been considered?</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>6. Were costs and consequences adjusted for different times at which they occurred (discounting)?</string>
					<key>literalC</key>
					<string>6. Costs/Effects discounting?</string>
					<key>pista</key>
					<string></string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string>sustituir por: ¿resultado útil? o permitir que el usuario introduzca valores que guarde al salir</string>
					<key>literal</key>
					<string>7. What were the results of the evaluation?</string>
					<key>literalC</key>
					<string>7. Large results?</string>
					<key>pista</key>
					<string>What is the bottom line?
What units were used (e.g. cost/life year gained, cost/QALY, Net benefit)</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>8. Was an incremental analysis of the consequences and costs of alternatives performed?</string>
					<key>literalC</key>
					<string>8. Incremental analysis?</string>
					<key>pista</key>
					<string></string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>9. Was an adequate sensitivity analysis performed? </string>
					<key>literalC</key>
					<string>9. Sensitivity analysis?</string>
					<key>pista</key>
					<string>Consider 
- If all the main areas of uncertainty were considered by changing the estimate of the variable and 
- looking at how this would change the result of the economic evaluation</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>bloque</key>
			<string>C/ Will the results help in purchasing for local people?</string>
			<key>preguntas</key>
			<array>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>10. Is the programme likely to be equally effective in your context or setting?</string>
					<key>literalC</key>
					<string>10. Same performance in your context?</string>
					<key>pista</key>
					<string>Consider whether
- the patients covered by the review could be sufficiently different to your population to cause concern
- your local setting is likely to differ much from that of the review.</string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>11. Are the costs translatable to your setting?</string>
					<key>literalC</key>
					<string>10. Similar costs?</string>
					<key>pista</key>
					<string></string>
				</dict>
				<dict>
					<key>caracter</key>
					<string></string>
					<key>color</key>
					<string>whiteColor</string>
					<key>comentario</key>
					<string></string>
					<key>literal</key>
					<string>12. Is it worth doing in your setting?</string>
					<key>literalC</key>
					<string>12. Is it worth in your setting?</string>
					<key>pista</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
